/* demonstrar problema do dia a dia em um projeto grande */
/* .card {
	text-align: center;
}

.avatar {
	margin-top: 20px;
	border: 9px solid var(--color-active);
	border-radius: 50%;
}

.name {
	margin: 0;
	color: #747c81;
	margin-top: 20px;
}

.role {
	margin-top: 15px;
} */

.card {
	border: 1px solid #ccc;
	border-radius: 8px;
	display: grid;
  gap: 16px;
	padding: 32px;
	max-width: 400px;
}

.user-avatar {
	border: 9px solid var(--color-active);
	border-radius: 50%;
	justify-self: center;
	width: 200px;
	height: 200px;
}

.user-name {
	font-size: 20px;
	margin-top: 8px;
	text-align: center;
}

.info-container {
	display: flex;
	gap: 18px;
	margin: 20px auto;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 8px;
	font-size: 16px;
	text-align: center;
}

.btn {
	background-color: #0089b38a;
	border-radius: 8px;
	padding: 4px 14px;
}

.ausente {
	border-color: var(--color-ausente);
}

.inactive {
	border-color: var(--color-inactive);
}

.disabled {
	background-color: #ccc;
	cursor: not-allowed;
}